<div class="container">
  <h1>Lists</h1>


<div class="row row-cols-3 g-3">
    <% @lists.each do |list| %>
      <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= list.name %></h5>
              <%= link_to "See list", list_path(list), class: "btn btn-secondary" %>
              <%= link_to "Delete list", list_path(list), 
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-outline-secondary" %>
            </div>
          </div>   
      </div>
    <% end %>
</div>

<br>
<br>
  <h2>Create new list</h2>

  <%= render "form", list: @list %>

</div>